<form class="form-register" #f="ngForm" (ngSubmit)="register(f.value)">
    <h2 class="form-register-heading">Please register in</h2>
    <div *ngIf="invalidRegister" class="alert alert-danger">{{invalidMessage}}</div>
    <label for="inputFirstname" class="sr-only">First name</label>
    <input type="text" id="inputFirstname" name="firstname" ngModel class="form-control" placeholder="First name" required autofocus>
    <label for="inputLastname" class="sr-only">Last name</label>
    <input type="text" id="inputLastname" name="lastname" ngModel class="form-control" placeholder="Last name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>