<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" [routerLink]="['/admin']">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard</a>
            <div class="sb-sidenav-menu-heading">Interface</div>
            <a class="nav-link collapsed" [routerLink]="['/admin/products']" data-toggle="collapse"
                data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Products
            </a>
            <a class="nav-link collapsed" [routerLink]="['/admin/orders']" data-toggle="collapse"
                data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                Orders
            </a>
            <a class="nav-link collapsed" [routerLink]="['/admin/payments']" data-toggle="collapse"
                data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fa fa-university"></i></div>
                Payments
            </a>
            
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Seller
    </div>
</nav>