<h1 class="mt-4">Orders</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a [routerLink]="['admin']">Dashboard</a></li>
    <li class="breadcrumb-item active">Orders</li>
</ol>

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Order List</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width=10>No</th>
                        <th width=250>Ordered Date</th>
                        <th>Shipping</th>
                        <th>Billing</th>
                        <th width=100>Status</th>
                        <th width=20>Items</th>
                        <th>Total Price</th>
                        <th width=100>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders; index as i">
                        <th>{{i+1}}</th>
                        <td>{{order.createdAt|date:'medium'}}</td>
                        <td>
                            {{order.clientId.email}}<br>
                            <small>
                                {{ order.shippingAddress.street }},
                                {{ order.shippingAddress.city }},
                                {{ order.shippingAddress.state }},
                                {{ order.shippingAddress.zipCode }}
                            </small>

                        </td>
                        <td>
                            {{order.clientId.email}}<br>
                            <small>
                                {{ order.billingAddress.street }},
                                {{ order.billingAddress.city }},
                                {{ order.billingAddress.state }},
                                {{ order.billingAddress.zipCode }}
                            </small>

                        </td>
                        <td>{{order.status}}</td>
                        <td>{{order.items.length}}</td>
                        <td>${{order.totalPrice}}</td>
                        <td>
                            <select [attr.disabled]="order.status == 'received' || order.status == 'canceled' ? '' : null" class="selectpicker" #status (change)="changeOrderStatus(order._id, status.value)">
                                <option>Change Status</option>
                                <option value="canceled">Canceled</option>
                                <option value="shipped">Shipped</option>
                                <option value="received">Received</option>
                              </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>