
<h1 class="mt-4">Products</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a [routerLink]="['admin']">Dashboard</a></li>
    <li class="breadcrumb-item active">Products</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        <div class="float-right">
            <a [routerLink]="['products/create']">
            <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i> Create New Product</button>
            </a>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Product List</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td><img style="width: 100px;" src="{{product.imageUrl[0]}}"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.description | slice:0:50}} ...</td>
                        <td><a class="btn" href="javascript:void(0)" [routerLink]="[product._id, 'update']"><i class="icon-edit"></i> Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>