<div class="container">
    <div class="list-group">
        <div class="d-flex justify-content-between p-3">
          <h3 class="p-1">Your Orders</h3>
        </div>
        <div *ngFor="let order of orders" class="card mb-4">
            <div class="card-header d-flex justify-content-between">
                <div class="p-1">
                    ORDER PLACED<br>
                    {{ order.createdAt | date }}
                </div>
                <div class="p-1">
                    TOTAL<br>
                    ${{ order.totalPrice }}
                </div>
                <div class="p-1">
                    SHIP TO<br>
                    Munkhbold Dembel
                </div>
                <div class="p-1">
                    ORDER # {{ order._id }}<br>
                    Order Detail | Invoice
                </div>
            </div>
          <div class="list-group-item list-group-item-action ">
              <div *ngFor="let item of order.items" class="row">
                  <div class="col-md-2">
                      <img class="small-img" src="{{item.productId.imageUrl[0] }}" width="100">
                  </div>
                  <div class="col-md-10">
                      <div class="d-flex w-100 justify-content-between">
                          <div>
                              <h5 class="p-1"><a>{{ item.productId.name }}</a></h5>
                          </div>
                          <div class="p-1">
                              <h5 class="mb-1">${{ item.productId.unitPrice }}</h5>
                          </div>
                          <div class="p-1">
                              <h5 class="mb-1">{{ item.quantity }}</h5>
                          </div>
                          <div class="p-1">
                              <h5 class="mb-1">${{ item.quantity * item.productId.unitPrice }}</h5>
                          </div>
                      </div>
                      <hr>
                      <div class="d-flex justify-content-between">
                          <p class="mb-1 p-1"> {{ item.productId.description |slice:0:100 }}</p>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
            STATUS <span class="badge badge-secondary">{{ order.status }}</span>
            <span *ngIf="order.status === 'ordered'" class="float-right"><a href="javascript:void(0)" (click)="cancelOrder(order._id)" class="btn btn-sm btn-secondary">Cancel Order</a></span>
        </div>
        </div>
    </div>
  </div>