<!-- <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" /> -->

<div class="sb-nav-fixed">
    <app-admin-header></app-admin-header>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <app-admin-sidebar></app-admin-sidebar>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </main>
            <app-admin-footer></app-admin-footer>
        </div>
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script> -->
<script src="../../../../assets/js/scripts.js" crossorigin="anonymous"></script>